@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap");
body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  background: #eef0f4;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #2B5FCE; }
  a:hover {
    text-decoration: none;
    color: #2B5FCE; }

.header {
  position: fixed;
  height: 80px;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px; }
  .header .logo img {
    width: 180px; }

.wrapper {
  height: calc(100vh - 80px);
  width: 100%;
  top: 80px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }
  .wrapper > div {
    margin-top: -30px; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0; }

.page-title {
  font-size: 36px; }

button {
  padding: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none; }
  button .bx {
    height: 100%;
    margin-top: 2px; }
  button a {
    text-decoration: none;
    color: #2B5FCE; }
    button a:hover {
      text-decoration: none;
      color: #2B5FCE; }
  button.blue {
    background: #2B5FCE;
    color: white;
    padding: 10px 30px; }
    button.blue a {
      text-decoration: none;
      color: white; }
      button.blue a:hover {
        text-decoration: none;
        color: white; }

.button-group-left, .button-group-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.sites-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .sites-container .page-title {
    color: #2B5FCE;
    width: 1200px;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 40px;
    font-size: 36px; }
  .sites-container .sites {
    display: flex;
    flex-direction: rows;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 1200px; }
    .sites-container .sites .site-container {
      box-sizing: border-box;
      display: flex;
      flex-direction: rows;
      justify-content: center;
      align-items: center; }
      .sites-container .sites .site-container .site {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
        height: 250px;
        width: 360px;
        border-radius: 5px;
        background: white;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
        border: none;
        box-sizing: border-box;
        transition: transform 0.2s ease-in; }
        .sites-container .sites .site-container .site .site-image {
          height: 180px;
          width: 100%;
          background: grey;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px; }
        .sites-container .sites .site-container .site .site-description {
          height: 90px;
          width: 100%;
          padding: 20px; }
          .sites-container .sites .site-container .site .site-description .site-name {
            font-size: .9em;
            color: #333;
            margin-bottom: 5px; }
          .sites-container .sites .site-container .site .site-description .site-date {
            font-weight: 300;
            color: #878787;
            font-size: .6em; }
        .sites-container .sites .site-container .site:hover {
          transform: translateY(-5px); }
      .sites-container .sites .site-container .create-new {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
        height: 250px;
        width: 360px;
        border-radius: 5px;
        border: 1px dashed #2B5FCE;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #2B5FCE; }
        .sites-container .sites .site-container .create-new .bx-plus-circle {
          font-size: 30px;
          margin-bottom: 20px; }
        .sites-container .sites .site-container .create-new h2 {
          font-size: 18px; }
        .sites-container .sites .site-container .create-new:hover {
          background-color: white;
          border: 1px solid #2B5FCE; }

.admin-sidebar {
  width: 260px;
  background: white;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  margin: 0;
  height: 100%; }
  .admin-sidebar .site-intro {
    margin-top: 20px;
    box-sizing: border-box;
    padding: 35px; }
    .admin-sidebar .site-intro .site-name {
      color: #333;
      margin-bottom: 5px; }
    .admin-sidebar .site-intro .site-date {
      font-weight: 300;
      color: #878787;
      font-size: .7em; }
  .admin-sidebar .sidebar-navigation {
    width: 100%;
    margin-top: 20px; }
    .admin-sidebar .sidebar-navigation ul {
      list-style: none;
      width: 100%;
      box-sizing: border-box;
      list-style-position: outside;
      padding: 0;
      list-style-type: none; }
      .admin-sidebar .sidebar-navigation ul li {
        box-sizing: border-box;
        width: 100%;
        color: #2B5FCE;
        border-left: 5px solid transparent;
        display: block;
        justify-content: center;
        padding: 20px 30px;
        margin-top: 5px;
        margin-bottom: 5px; }
        .admin-sidebar .sidebar-navigation ul li:hover {
          border-left: 5px solid #2B5FCE; }
