@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap");
body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  background: #eef0f4;
  margin: 0;
  padding: 0; }

.header {
  position: fixed;
  height: 80px;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 100; }

.wrapper {
  height: 100%;
  width: 100%;
  top: 80px;
  position: relative; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0; }

.page-title {
  font-size: 36px; }

.sites-container {
  padding-top: 10px;
  padding-bottom: 200px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .sites-container .page-title {
    color: #1B2E56;
    width: 1140px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px; }
  .sites-container .sites {
    display: flex;
    flex-direction: rows;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 1140px; }
    .sites-container .sites .site-container {
      box-sizing: border-box;
      display: flex;
      flex-direction: rows;
      justify-content: center;
      align-items: center; }
      .sites-container .sites .site-container .site {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
        height: 280px;
        width: 350px;
        border-radius: 5px;
        background: white;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
        border: none;
        box-sizing: border-box; }
        .sites-container .sites .site-container .site .site-image {
          height: 210px;
          width: 100%;
          background: grey; }
        .sites-container .sites .site-container .site .site-description {
          height: 90px;
          width: 100%;
          padding: 20px; }
      .sites-container .sites .site-container .create-new {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
        height: 280px;
        width: 350px;
        border-radius: 5px;
        border: 1px dashed #1B2E56;
        box-sizing: border-box; }
