$site-width: 360px;
$site-height: 250px;
$site-margin-horizontal: 20px;
$site-margin-vertical: 15px;
$sites-container-width: ($site-width*3) + ($site-margin-horizontal*6);

@mixin single-site {
  margin-left: $site-margin-horizontal;
  margin-right: $site-margin-horizontal;
  margin-top: $site-margin-vertical;
  margin-bottom: $site-margin-vertical;
  height: $site-height;
  width: $site-width;
  border-radius: 5px;
}

.sites-container{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .section-title{
    width: $sites-container-width;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: $site-margin-horizontal*2;
  }


  .sites{
    display: flex;
    flex-direction: rows;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: $sites-container-width;

    .site-container{
      // width: 33.33%;
      box-sizing: border-box;
      display: flex;
      flex-direction: rows;
      justify-content: center;
      align-items: center;


      .site{
        @include single-site;
        background: white;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
        border: none;
        box-sizing: border-box;
        transition: transform 0.2s ease-in;

        .site-image{
          height: 180px;
          width: 100%;
          background: grey;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;

        }

        .site-description{
          height: 90px;
          width: 100%;
          padding: 20px;

          .site-name{
            font-size: .9em;
            color: $body-text;
            margin-bottom: 5px;
          }

          .site-date{
            font-weight: 300;
            color: $body-grey;
            font-size: .6em;
          }
        }

        &:hover{
          transform: translateY(-5px);
        }
      }

      .create-new{
        @include single-site;
        border: 1px dashed $isomer-blue;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $isomer-blue;

         .bx-plus-circle{
           font-size: 30px;
           margin-bottom: 20px;
         }

         h2{
           font-size: 18px;
         }

         &:hover{
           background-color: white;
           border: 1px solid $isomer-blue;
         }
      }

    }
  }

}


@media (min-width: 1200px) {

}
